[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
chatterbot = "==1.0.8"
chatterbot-corpus = "*"
spacy = "*"

[requires]
python_version = "3.6"
