{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <title>The Game</title>
</head>
<body>
    <table style="width: 100%;">
        <tr style="">
            <td style="vertical-align:top; text-align: center; margin: 0; height:2000px; border-right: 5px solid grey; white-space: nowrap; border-top-width: 0px; box-shadow: 10px 0px 10px silver;">
                <a href=""><img src="{% static "img/gifs/music.gif" %}" alt="Advertisement"/></a>
            </td>
            <td style="vertical-align:top;box-shadow: 10px 0px 10px silver;">
                <div class="bot">
                    <h1><img src="{% static "img/gifs/welcome.gif" %}" alt="Welcome"/> to Wolfgang von Beta Search</h1>
                    <form id="chat-form" autocomplete="off">
                        <div class="input-container input-group">
                            <label for="user-input"></label>
                            <input id="user-input" class="form-control" type="text" placeholder="Ask anything ..." />
                            <div class="input-group-append">
                                <button id="submit-btn" class="ask-btn">Ask!</button>
                            </div>
                        </div>
                    </form>
                    <div id="chat" class="chat"></div>
                </div>
            </td>
            <td style="vertical-align:top; margin: 0; height:3000px; border-left: 5px solid grey; white-space: nowrap; border-top-width: 0px;">
                <img style="background-color: aliceblue" src="{% static "img/gifs/enter.gif" %}" alt="Click here"/>
            </td>
        </tr>
    </table>
    <script src="{% static 'cookiejs/js.cookie.min.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>

    {% csrf_token %}
    <script>
        var postMessageUrl = '{% url "post_message" %}';
        var csrftoken = Cookies.get('csrftoken');
        console.log("Nice try! And, do you see something interesting? Better talk to the bot!")
    </script>
</body>
</html>